.IconButton {
  padding: 0.75rem;
}
.IconButton:not(.filled) {
  background-color: transparent;
  color: var(--color);
}
.IconButton.filled .Icon {
  --color: var(--text-color);
}
.IconButton:hover:not(.filled) {
  background-color: hsla(var(--color-channel), 0.12);
}
.IconButton.filled:hover {
  scale: 1.04;
}
.IconButton.shadow::before {
  top: 16%;
  filter: blur(0.35rem);
}
.ButtonBase.IconButton .Ripples-body {
  background-color: var(--color);
  top: 50%;
  left: 50%;
}
.ButtonBase.IconButton.filled .Ripples-body {
  background-color: var(--white);
}
.ButtonBase.IconButton.size {
  transform: scale(var(--scale));
}
