@import url("./utility/buttonBase/style.css");
@import url("./utility/fab/style.css");
@import url("./utility/button/style.css");
@import url("./utility/icon/style.css");
@import url("./utility/iconButton/style.css");
@import url("./utility/inputField/style.css");
@import url("./utility/link/style.css");
@import url("./utility/list/style.css");
@import url("./utility/spinner/style.css");
@import url("./utility/toast/style.css");

.Component.light {
  --color: var(--light);
  --color-channel: var(--light-channel);
  --text-color: var(--dark);
}
.Component.dark {
  --color: var(--dark);
  --color-channel: var(--dark-channel);
  --text-color: var(--light);
}
